---
layout: world/2024/default
permalink: /world/2024
---

<div class="landing-page">
    <section class="content-container top-information-card">
        {% include world/2024/icons/rails_logo.html %}
    </section>
    <div class="half-container common-shape--top-purple-down-left">
        <section class="content-container top-information-card">
            <h3 class="joinText">
                Shaping the future of Ruby on Rails
            </h3>

            <a role="link" aria-disabled="true" aria-label="Tickets" class="button main disabled large">
                Coming Soon
            </a>
        </section>
    </div>

    <section class="content-container top-information-text">
        <p>
            Rails World is a two-day, two track community conference featuring technical
            talks, demos, networking, and keynotes about the latest features and best
            practices in Rails development.
        </p>
    </section>

    <section class="content-container speaker-cards">
        <div class="headerContainer">
            <h3>Speakers</h3>
            <p>
                Our industry's brightest speakers gathered in Toronto to share their expertise, insights, and success
                stories.
            </p>
            <!-- TODO - btns not working + style them -->
            <button id="leftBtn">Left</button>
            <button id="rightBtn">Right</button>
        </div>
        <div class="cardsContainer">
            <!-- TODO - font sizing and make bigger & smaller for desktop + mobile -->
            {%
            include world/2024/speaker-card.html
            name="John Farina 1"
            role="Engineer 1"
            company="Reprise 1"
            %}
            {%
            include world/2024/speaker-card.html
            name="John Farina 2"
            role="Engineer 2"
            company="Reprise 2"
            %}
            {%
            include world/2024/speaker-card.html
            name="John Farina 3"
            role="Engineer 3"
            company="Reprise 3"
            %}
            {%
            include world/2024/speaker-card.html
            name="John Farina 4"
            role="Engineer 4"
            company="Reprise 4"
            %}
        </div>
    </section>

    <section class="content-container video-card">
        <div class="textContainer">
            <h3>Join us in Toronto</h3>
            <p>
                Explore one of the coolest venues in Toronto - Evergreen Brick Works -
                located on the historic site of the former brick works and quarry and
                surrounded by a beautiful nature park.
            </p>
        </div>

        {% include world/2024/slideshow.html %}
    </section>

    <section class="content-container sponsor-information-text">
        <h3>Sponsors</h3>
        <p>
            Sponsoring Rails World means showcasing your brand
            to a global audience of Rails enthusiasts, developers,
            and industry leaders. Let's make Rails World an
            unforgettable experience for all. 
        </p>
        <a href="https://public.3.basecamp.com/p/xuZrxDiHj7vQbFzATqz8U8gc" aria-label="View prospectus" target="_blank"
            class="button main large">
            VIEW PROSPECTUS
        </a>
        <div class="sponsorCardsContainer">
            <div class="row platinumRow">
                <!-- TODO - turn sponsor card into seperate component -->
                <div class="sponsorCard platinum">
                    <div class="background">
                        <div class="line"></div>
                    </div>
                    <div class="logoContainer">

                    </div>
                </div>
                <div class="sponsorCard platinum">
                    <div class="background">
                        <div class="line"></div>
                    </div>
                    <div class="logoContainer">

                    </div>
                </div>
                <div class="sponsorCard platinum">
                    <div class="background">
                        <div class="line"></div>
                    </div>
                    <div class="logoContainer">

                    </div>
                </div>
            </div>
            <div class="row goldRow">
                <div class="sponsorCard gold">
                </div>
                <div class="sponsorCard gold">
                </div>
                <div class="sponsorCard gold">
                </div>
                <div class="sponsorCard gold">
                </div>
            </div>
        </div>
    </section>
</div>
<script>
    let currentIndex = 0;

    leftBtn.addEventListener('click', () => {
        scrollToIndex("back");
    });
    rightBtn.addEventListener('click', () => {
        scrollToIndex("forward");
    });

    document.addEventListener("resize", checkButtonVisibility);

    function checkButtonVisibility() {
        console.log('hello')
        if (container.scrollWidth > container.clientWidth) {
            rightBtn.style.display = "block";
            leftBtn.style.display = "block";
        } else {
            rightBtn.style.display = "none";
            lef
        }
    }

    function scrollToIndex(type) {
        if (type === "forward") {
            if (currentIndex === cards.length - 1) {
                currentIndex = 0;
            } else {
                currentIndex++;
            }
        } else if (type === "back") {
            if (currentIndex === 0) {
                currentIndex = cards.length - 1;
            } else {
                currentIndex--;
            }
        }

        const currentCard = cards[currentIndex];

        container.scrollTo({
            left: currentCard.offsetLeft,
            behavior: 'smooth'
        });
    }


    });
</script>