html {
  font-family: "acumin-variable", sans-serif;
  font-variation-settings: var(--font-weight-700);
}

body {
  background-color: #cb0c1c;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 100vh;
  width: 100%;
}

#main-content {
  display: flex;
  justify-content: center;
  // margin-top: 68px;
  width: 100%;
}

.landing-page {
  width: 100%;
}

.top-information-card {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 var(--space-medium);
  height: 320px;
  border-bottom: white solid 2px;
  padding-bottom: 9px;

  .text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    
    h3, 
    h6, 
    h7 {
      color: white;
      text-align: center;
    }
  }
}

.text-container {
  color: white;
  text-align: center;
  margin-top: 1rem;
}

.link-container {
  display: flex;
  justify-content: space-around;
  margin-top: 2.5rem;
  max-width: 90vw;
}

.buttons {
  background-color: white;
  color: #cb0c1c;
  border-radius: 6pt;
  padding: 1rem;
  text-decoration: none;
  max-width: 30rem;
  position: relative;
}

.buttons:hover {
  background-color: #e3dadc;
  top: -1px;
}

.small-text {
  font-size: 1rem;
}

footer {
  color: white;
  position: fixed;
  bottom: 0;
}

footer a:visited {
  color: white;
  text-decoration: none;
}