.faqContainer {
    width: 100%;

    .titleContainer {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: var(--desktop-padding);

        h2 {
            color: var(--text-color);
        }
    }

    .questionsContainer {
        display: flex;
        flex-direction: column;
        gap: var(--space-medium);
        padding: var(--desktop-padding);

        .categoryContainer {
            display: flex;
            flex-direction: column;
            gap: var(--space-small);
        }

        h2 {
            color: var(--white);
        }

        ul {
            li~li {
                margin-top: var(--space-small);
            }

            details {
                transition: all 0.15s ease-in;
                summary {
                    cursor: pointer;
                    border: var(--border-style);
                    border-radius: 5px;
                    color: var(--white);
                    padding: var(--space-small);
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    flex-direction: row;

                    .summaryQuestion {
                        font-size: var(--type-large);
                    }
                }

                .faqAnswer {
                    color: var(--black);
                    background-color: var(--white);
                    padding: var(--space-small);
                    border-radius: 0 0 5px 5px;

                    .answerText {
                        font-size: var(--type-x-small);
                    }
                }

                &[open] {
                    summary {
                        border-radius: 5px 5px 0 0;
                    }

                    summary svg {
                        transform: rotate(180deg);
                    }
                }

                &:hover {
                    background-color: rgba(255, 255, 255, 3%);
                    transform: translateY(-1px);
                    box-shadow: 0px 4px 7px 0 rgba(0, 0, 0, 0.3);
                }
            }
        }

        @media only screen and (max-width: 800px) {
            padding: var(--mobile-padding);
        }
    }
}

.sectionNav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: var(--border-style);
    border-left: 0;
    border-right: 0;
    height: 40px;
    padding: var(--desktop-padding);
    padding-top: var(--space-x-small);
    ;
    padding-bottom: var(--space-x-small);

    @media only screen and (max-width: 800px) {
        padding: var(--mobile-padding);
        padding-top: var(--space-x-small);
        padding-bottom: var(--space-x-small);
    }
}