footer {
    display: flex;
    background-color: var(--purple);
    align-items: center;
    justify-content: space-between;
    height: 75px;
    border-top: var(--border-style);
    box-shadow: 0px 5px 10px 0 rgba(0, 0, 0, 0.3);
    padding-left: var(--space-small);
    width: 100%;
    box-shadow: 0px -5px 10px 0 rgba(0, 0, 0, 0.2);


    .sideContainer {
        width: 220px;
        height: 100%;
        border-right: var(--border-style);

        &.right {
            border-left: var(--border-style);
            border-right: 0;
        }
    }

    .center {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        flex-direction: column;
        gap: 10px;
        .textContainer {
            width: 80%;

            p {
                color: var(--text-color);
                text-align: center;
                font-size: 1.1rem;
                font-weight: 100;
                font-style: normal;

                @media only screen and (max-width: 800px) {
                    font-size: 0.95rem;
                }
            }
        }

        .legalContainer {
            display: flex;
            gap: 10px;
            width: 100%;
            align-items: center;
            justify-content: center;
        }

        a {
            color: var(--text-color);
            transition: all 0.2s ease;

            &:hover {
                color: var(--red);
            }
        }
    }

    @media only screen and (max-width: 800px) {
        .sideContainer {
            width: 120px;
        }

        .center {
            width: 400px;
        }
    }

}