.sessionPage {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px 0px;
    width: 100%;
    height: 100%;
    min-height: 950px;

    .sessionContainer {
        position: relative;
        background-color: var(--white);
        width: 85%;
        max-width: 1700px;
        display: flex;
        border-radius: 15px;
        flex-direction: column;

        .topContainer {
            display: flex;
            align-items: flex-start;
            justify-content: center;
            padding: 50px 20px;
            flex-direction: column;
            gap: 15px;
            padding: 60px 20px;

            .sessionTitle {
                color: var(--red);
            }

            .description {}


            .informationContainer {
                display: flex;
                flex-direction: column;
                z-index: 6;

                .sessionTimeContainer,
                .sessionDateContainer,
                .sessionLocationContainer {
                    display: flex;

                    p {
                        font-size: var(--type-large);
                        font-weight: 800;
                        color: var(--purple);
                        letter-spacing: 0.03rem;
                    }
                }
            }
        }

        .bottomContainer {
            position: relative;
            display: flex;
            align-items: flex-end;
            justify-content: center;
            width: 100%;
            padding-top: 190px;
            padding-bottom: 20px;
            border-radius: 0px 0px 10px 10px;
            background-color: var(--blue);
            // height: 500px;
            margin-top: -120px;

            @media screen and (max-width: 1300px) {
                padding-top: 150px;
            }

            @media screen and (max-width: 800px) {
                padding-top: 100px;
                margin-top: -90px;
            }

            &.common-shape--top-white-down-left {
                &:before {
                    top: 0px;
                    z-index: 5;
                }
            }

            .speakerContainer {
                position: relative;
                width: 80%;
                min-height: 300px;
                background-color: var(--white);
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 40px 0;
                border-radius: 10px;
                text-decoration: none;

                .theLine {
                    z-index: 2;
                    position: absolute;
                    width: 3px;
                    height: 100%;
                    background-color: var(--blue);
                }

                .speakerContent {
                    z-index: 3;
                    width: 85%;
                    border: solid 3px var(--blue);
                    border-left: 0;
                    border-right: 0;
                    background-color: white;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 15px 0;

                    .left {
                        width: 50%;
                        display: flex;
                        align-content: center;
                        justify-content: center;
                        height: 100%;

                        img {
                            border-radius: 50%;
                            width: 200px;
                            height: 200px;
                        }
                    }

                    .rightSession {
                        display: flex;
                        flex-direction: column;
                        gap: 10px;
                        width: 50%;

                        p {
                            color: black;
                        }

                        .speakerName {
                            color: var(--red);
                            font-size: var(--type-medium);
                            font-weight: 700;
                        }

                        .speakerRole {
                            font-size: var(--type-small);
                            font-weight: 300;
                            color: black;
                        }
                    }
                }
            }
        }
    }


}