<footer>
  <div class="sideContainer"></div>

  <div class="center">
    <div class="textContainer">
      <p>
        This website was designed and created by
        <a href="https://www.johnfarina.co/" target="_blank">
          John Farina
        </a>, a junior developer from the Rails community.
        Website commissioned by the Rails Foundation.
      </p>
    </div>

    <div class="legalContainer">
        <a href="/world/2024/conduct" class="link small">
          Code of Conduct
        </a>
        <a href="/foundation/privacy" class="link small">
          Privacy Policy
        </a>
        <a href="/world/2024/terms" class="link small">
          Terms & Conditions
        </a>
    </div>
  </div>
  
  <div class="sideContainer right"></div>
</footer>