
<header id="header-2024">
  <nav class="nav">
    <div class="sideContainer">
      <a href="/world/2024" class="nav__logo">
        <img class="temp" alt="Rails World Logo 2024" src="/assets/world/2024/rails-world-red-mono-logo-square-dated.svg" />
      </a>
    </div>

    <div class="center">
      <a href="">FAQ</a>
    </div>
    
    <div class="sideContainer right">
      <h4>SEPTEMBER 26 & 27</h5>
      <h5>Toronto, Canada</h6>
    </div>
  </nav>
</header>

{% if include.hide_initially == true %}
  <script>
    const header = document.getElementById(`header-2024`);
    header.classList.add(`hideInitially`);

    window.onscroll = function() {
      if (window.scrollY !== 0) {
        if (!header.classList.contains(`scrolled`)) {
          header.classList.add(`scrolled`);
        }
      }
    };

    window.onkeydown = function(e) {
      // For accesibility users
      if (e.key === `Tab`) {
        if (!header.classList.contains(`scrolled`)) {
          header.classList.add(`scrolled`);
        }
      }
    };
  </script>
{% endif %}