{% if include.rank == "platinum" %}
<!-- <a href="sponsorBtn platinum"> -->
<div class="sponsorCard platinum">
    <div class="background">
        <div class="line"></div>
    </div>
    <div class="logoContainer">
        <img src="{{ include.logo }}" alt="{{ include.name }}">
    </div>
</div>
<!-- </a> -->
{% endif %}

{% if include.rank == "gold" %}
<div class="sponsorCard gold">
    <div class="logoContainer">
        <img src="{{ include.logo }}" alt="{{ include.name }}">
    </div>
</div>
{% endif %}