---
layout: world/2024/default
---

{% assign filteredSpeakers = site.world_speakers | where_exp:"speaker", "speaker.path contains page.speaker" |
where_exp: 'item', 'item.path contains "2024"'%}
{% assign speaker = filteredSpeakers | first %}

<div class="sessionPage">
    <div class="sessionContainer">
        <div class="topContainer">
            <h2 class="sessionTitle">
                {{ page.title }}
            </h2>
            <p class="description">
                {{ content }}
            </p>
            <div class="informationContainer">
                <div class="sessionTimeContainer">
                    <p>{{ page.time }}</p>
                </div>
                <div class="sessionDateContainer">
                    <p>4th September 2024</p>
                </div>
                <div class="sessionLocationContainer">
                    <p>{{ page.location }}</p>
                </div>
            </div>
        </div>

        <div class="bottomContainer common-shape--top-white-down-left">
            {% assign speakerUrl = speaker.path | split: '/' | last | remove_first: '.md' %}
            <a class="speakerContainer" href="/world/2024/speakers/{{ speakerUrl }}">
                <div class="theLine"></div>
                <div class="speakerContent">
                    <div class="left">
                        <img src="{{ speaker.image_path }}" alt="{{ speaker.first_name }}'s Profile Picture">
                    </div>
                    <div class="rightSession">
                        <div>
                            <p class="speakerName">{{ speaker.first_name }} {{ speaker.last_name }}</p>
                            <p class="speakerRole">{{ speaker.role }}{% if speaker.company %}, {{ speaker.company }}{% endif %}</p>
                        </div>
                        <p class="speakerDesc">{{ speaker.content }}</p>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>